*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary, .btn-download{
    
    border-radius:5px;
    background-color: #FD6E0A;
    border:0px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
}

/* hedaer and nav-title */

.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
    background-origin: border-box;
    margin: 0 0px;
}

.nav-title{
font-weight: 800;
font-size: 45px;
}

nav{
    display: flex;
    justify-content: space-between; 
    padding: 50px 230px;

}

nav li{
    list-style: none;
    margin-left: 60px;
}

nav ul{
    display: flex;
    align-items: center;
}

.text-primary{
    color: #FD6E0A;
}

/* banner */
.banner{ 
    margin: 0 100px;
    /* width: 585px; */
    /* height: 356px; */
    align-items: center;
    display:flex;
    padding-left: 50px;
}

.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-des{
    color: gray;
    font-size: 16px;
    margin-bottom: 30px;
}

main{
    max-width: 1160px;
    border:1px solid lightblue;
    margin: 0 auto;
}

section{
    margin-top: 130px;
}

.about-me{
    padding: 130px 160px;
    text-align: center;
    background-color: #FFF8F3;
    border-radius: 10px;
    
}

.about-me-title, .my-work-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
    color:#181818;
    text-align: center;
}
.about-me-desc, .my-work-desc{
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;
    text-align: center;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.about-info{
    text-align: center;
}

.about-info-data{
    font-size: 20px;
    font-weight: 700;
}

/* Skills styles*/

.skill-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    
}

.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom:20px;
    margin-top: 20px;
}

.skill-desc{
    text-align: left;
    color:#757575;
    font-size: 16px;
}

/* resume style */
.section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    color:#181818;
    text-align: center;
}

.education{
    margin-bottom: 20px;
}

.my-edu{
    color: #474747;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.edu-title{
font-size: 25px;
color: #474747;
font-weight: 700;
margin-bottom: 10px;
}

.edu-year{
    color:#757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.edu-desc{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
    padding-bottom: 20px;

}

.resume{
    display: flex;
    gap: 25px;
}

.btn-resume{
    margin-top:50px;
    display: flex;
    justify-content: center;
}

.contact{
    display: flex;
    margin-top: 112px; justify-content: space-between;
    padding: 130px 200px;
    gap: 100px;
    background-color: #FFF8F3;
}

.contact .section-title{text-align: left;}

.social{width: 50%;}
.section-desc{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
}

.social-icons{
    display: flex;
}

.social-icons a{
    margin-right: 30px;
}

.contact-form input, textarea{
    margin-bottom: 24px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 0;
    padding-left: 30px;
    border: 0;
    width: 100%;
}

input{height: 64px;}